/* CONTACT SECTİONS ( İletişim ayarları ) */

#iletisimSection{
    background: url("../images/resim6.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 150vh;
}
#iletisimSection .row{
    height: 170vh;
}
#iletisimSection h1{
    color: white;
    background-color: firebrick;
}


/* TABLE SECTİONS ( Tablo ayarları ) */

.tablo{

    border: 2px solid black;
    border-radius: 5;
    background-color: paleturquoise;
    height: 525px;
    width: 500px;
    margin-top: 80px;
    margin-left: 600px;   
    margin-bottom: 450px; 
}

.tablo td{
    border: 2px solid black;
}
.tablo h{
    font-size: 20px;
    font-weight: 1500px;
    color: darkred;
}
.tablo p{
    font-size: 13px;
}




/* HOME SECTİONS ( Giriş ayarları ) */

body{
    font-family: 'Jost', sans-serif;
    font-style: italic;
    text-align: center;
    color: black;
}

.navbar{
    border-bottom: 2px solid  rgba(0, 255, 242, 0.801);
}
.navbar .navbar-brand{
    color:  rgba(0, 255, 242, 0.801);
    font-size: 30px;
}
.bg-dark {
    background-color: black !important;     
}
.nav-link{
    color: white !important;
    text-transform: initial;
    transition: color 0.5s ease;
}
.nav-link:hover{
    color:  rgba(0, 255, 242, 0.801) !important;
}

.overlay{
    background-color: rgba(0, 0, 0, .5);
}


/* MEDİA SECTİONS ( Responsive vb.ayarlar ) */

.container{
    width: 96%;
    max-width: 100%;
    margin: 0px auto;
}

@media screen and (max-width: 1200px){
    #iletisimSection p{
        line-height: 20px;
        }

    #nvbCollapse{
        font-size: 12px;
    }
}
@media screen and (max-width: 992px){
    .display-4{
        font-size: 48px;
}
}
@media screen and (max-width: 768px){
    .display-4{
        font-size: 32px;
}
}
@media screen and (max-width: 576px){
    .display-4{
        font-size: 24px;
}
}